
*{
    font-family: 'Space Mono', monospace;
}

h1{
 text-align: center;
 color:white;
}

body {
    background-color: rgba(0, 0, 0, 0.9)
}

header {
    height:10%;
}

.container{
    display: flex;
    justify-content: center;
    height:90%;
    width:100%;
}
#spielfeld{
    position:relative;
    min-width: 700px;
    width: 70vw;
    height: 90%;
    /* border: 4px solid#F8090A; */
    background-color: rgb(49, 49, 49);;
}


.pongbars {
    position: absolute;
    width: 1.7vw;
    height: 250px;
    background-color:#FFFFFB;
}

#pongbar_left {
    left: 20px;
    top: calc(50% - 125px);
}

#pongbar_right {
    right: 20px;
    top: calc(50% - 125px);
}

#tracker {
    position: absolute;
    color:#FFFFFB;
    top:3%;
    left:50%;
    transform: translateX(-50%);
    font-size: 28pt;
}

#punktestandLinks {
    font-family: sans-serif;
    position:absolute;
    top:10%;
    left:15%;
    font-size: 50pt;
    color:#FFFFFB;
    
}

#punktestandRechts {
    font-family:sans-serif;
    position:absolute;
    top:10%;
    right:15%;
    font-size: 50pt;
    color:#FFFFFB;
}

#ball {
    position:absolute;
    left:50%;
    bottom:45%;
    transform: translateX(-50%);
    background-color:#F8090A;
    width:1.8vw;
    height:1.8vw;
    border-radius:50%;
}

#geschwindigkeit {
    position: absolute;
    left:50%;
    bottom:3%;
    transform: translateX(-50%);
    color:#FFFFFB;
    font-size: 12pt;
}

#starttext {
    left:50%;
    transform: translateX(-50%);
    bottom:60%;
    position: absolute;
    color:#FFFFFB;
    font-size: 20pt;
}


/**** BORDER ****/

  .gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  

  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }